<h1>Add a new allergen:</h1>

<form action="/allergens" method="post">
  <div class="form-group">
    <label>Allergen Name</label>
    <input type="text" class="form-control" id="allergen_name" name="allergen_name">
  </div>

  <div class="form-group">
    <label></label>
    <input type="hidden" class="form-control" id="id" name="id">
  </div>

  <button type="submit" class="btn btn-default">Add Allergen</button>
</form>
