<h1 class="text-center">AllerGi</h1>

<form class="text-center form-inline" action="index.html" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="name" value="ALLERGIES">
    <button class="btn btn-default" type="submit" name="button"><i class="fa fa-search"></i></button>
  </div>
</form>
