
<div class="row">
  <div class="search-wrapper col-center col-xs-6">
    <div class="logo">
      <h1 class="title">AllerGi</h1>
    </div>
    <div class="oct">
      <div class="search">
        <form class="form-inline input">
          <div class="form-group">
            <div class="input-group input-text">
              <input class="form-control search-field" type="text" name="name" value="">
              <span class="input-group-btn input-button">
                 <button class="btn btn-default search-button" type="submit" name=""><i class="fa fa-medkit fa-1x"></i></button>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="allergens1 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens2 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens3 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens4 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens5 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens6 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens7 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens8 icon-hover">
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
    </div>
  </div>
</div>
